@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--primary: #FFC300;
	--secondary: #FFD60A;
	--third: #003566;
	--bg: #001D3D;
	--dark: #000814;
	--darkermain: #9b9547;
	--ion-background-color: var(--bg);
	--f: #868483;

}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ion-content {
  width: calc(100% + 15px);
	&::part(scroll) {
		padding-right: 15px;
	}
	
}

.page-body {
	min-height: 100%;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	background: var(--bg);
}

/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px var(--secondary);
	margin-left: 6rem;
	margin-right: 6rem;
}

.search-bar{
	width: 50rem;
	color: var(--secondary);
}

.header-icon{
	color: var(--secondary);
	font-size: 1.5rem;
	margin-inline: 0.5rem;
}

.main-title{
	display: none;
	visibility: hidden;
}

.nav-item,
.nav-item-logo {
	font-weight: 500;
	text-decoration: none;
	margin-inline: 1.5rem;
	font-size: 1rem;
	color: var(--secondary);
}

.nav-item-logo {
	font-size: 2rem;
}

.logout {
	margin-left: 0.1rem;
	font-size: 0.8rem;
	line-height: 100%;
	vertical-align: middle;
}

.username {
	margin-right: 0.1rem;
}

.navbar-default {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border-bottom: solid 1px var(--secondary);
	padding-block: 1.5rem;
	text-transform: uppercase;
	margin-left: 6rem;
	margin-right: 6rem;
  }
  

.invisible-scroll {
	overflow-y: scroll;
}
 
.invisible-scroll::-webkit-scrollbar {
	display: none;
}

/* MAIN  */

.home-text{
	color: var(--secondary);
	opacity: 0.8;
}

.home-icon{
	color: var(--secondary);
	font-size: 1.3rem;
	margin: 0 1rem 0 0;
}

.title{
	color: var(--primary);
	text-align: center;
	font-size: 2rem;
}

	/*HOME*/

.div-icons {
	text-align: center;
	padding: 3rem 0 0.8rem 0;
}

.carousel-div{
	margin-top: none;
}

.carousel-img{
	height: 35rem;
}

/* PRODUCTS */
.products-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	width: 30%;
	margin: 1rem;
	border: 1px solid var(--primary);
	border-radius: 0.6rem;
	text-align: center;
}

.products-name{
	color: var(--secondary);
	margin: 1rem 0;
}

.products-desc{
	color: var(--darkermain);
	min-height: 3rem;
}

.products-img{
	height: auto;
	width: 100%;
}

.products-price{
	color: var(--secondary);
	font-size: 1.5rem;
}

.products-btn{
	margin-block: 0.5rem;
}

/* Vendor */

.vendor-btn-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	

}

.vendor-input{
	width: 30%;
	color: var(--primary);
	font-size: 1.25rem;
}

/* LOGIN */

.login-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login-form-input{
	color: var(--primary);
	
}

/* Profile */

.profile-items{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.profile-item{
	display: flex;
	flex-direction: row;
	color: var(--primary);
	border-bottom: 1px solid var(--third);
	align-items: center;
	width: 45%;
}

.profile-text{
	text-align: left;
	margin-top: 2%;
	width: 25%;
}

.profile-input {
	color: var(--primary);
	text-align: center;
}

/* FOOTER */

.footer {
	background-color: #181717;
	width: 100%;
}
  
.footer-icon {
	margin: 1.5rem;
	color: var(--primary);
	font-size: 1.7rem;
	background-color: #181717;
}
  
.info-footer {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	margin: 1rem 3rem 2rem 3rem;
	padding: 1rem 3rem 1rem 3rem;
	color: var(--primary);
	background-color: #181717; 
}
  
.info-store {
	text-align: justify;
	height: 13rem;
	width: 18rem;
	background-color: #181717;
}

.info-store h3{
	background-color: #181717;
}
  
.info-store p{
	background-color: #181717;
}
  
.info-shop {
	text-decoration: none;
	text-align: left;
	margin-left: 9rem;
	background-color: #181717;
}
  
.router-link {
	text-decoration: none;
	color: var(--primary);
}
  
.iconos-footer {
	display: flex;
	justify-content: center;
	background-color: #181717; 
}
  
.derechos {
	border-top: none;
	text-align: center;
	background-color: #0f0e0e;
	background-color: #0f0e0e;
	color: var(--primary);
	font-weight: 300;
	font-size: 1rem;
	margin-bottom: 0;
}
  
  /* NOSOTROS */
  .historia {
	display: flex;
	flex-flow: nowrap;
  }
  .historia img {
	float: right;
	max-width: 35%;
	max-height: 35%;
	margin-left: 2rem;
  }
  .story2 {
	max-width: 50%;
	min-height: auto;
	margin: 2rem;
	color: var(--primary);
	text-align: left;
  }
  .story2 h3 {
	text-align: center;
  }
  .empresa {
	display: flex;
	flex-flow: nowrap;
  }
  .compromis {
	float: left;
	max-width: 50%;
	min-height: 50%;
	overflow: hidden;
	color: var(--primary);
	margin: 2rem;
  }
  .compromis h3{
	text-align: center;

  }
  .mision h3 {
	text-align: center;
  }
  .mision {
	float: right;
	max-width: 70%;
	min-height: 50%;
	overflow: hidden;
	margin: 2rem;
	color: var(--primary);
  }
  .equipo {
	display: flex;
	flex-flow: nowrap;
	color: var(--primary);
  }
  .equip h3 {
	text-align: center;
	color: var(--primary);
  }
  .personal {
	max-width: 500%;
	max-height: 20%;
	text-align: center;
	margin: 2rem 2rem 2rem 2rem;
  }

.product-container {
	color: var(--secondary);
	padding: 20px;
	width: 20rem;
	height: 30rem;
	margin: 1rem;
	text-align: center;
  }

  ion-card {
	--background: var(--dark);
  }
 
  .product-description {
	color: var(--secondary);
	font-weight: bold; 
	margin-bottom: 10px;
  }
  