@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--primary: #FFC300;
	--secondary: #FFD60A;
	--third: #003566;
	--bg: #001D3D;
	--dark: #000814;
	--darkermain: #9b9547;
	--ion-background-color: bg;
}

* {
	font-family: 'Roboto', sans-serif;
	background: var(--bg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ion-content {
  width: calc(100% + 15px);
	&::part(scroll) {
		padding-right: 15px;
	}
}

.page-body {
	min-height: 100%;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
}

body {
	background-color:var(--bg);
}

/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px var(--primary);
}

.search-bar{
	width: 50rem;
	color: var(--primary);
}

.header-icon{
	color: var(--primary);
	font-size: 1.7rem;
	margin-inline: 1rem;
}

.main-title{
	display: none;
	visibility: hidden;
}

.nav-item,
.nav-item-logo {
	font-weight: 700;
	text-decoration: none;
	margin-inline: 1rem;
	font-size: 1.5rem;
	color: var(--primary);
}

.nav-item-logo {
	font-size: 2rem;
}

.logout {
	margin-left: 0.1rem;
	font-size: 0.8rem;
	line-height: 100%;
	vertical-align: middle;
}

.username {
	margin-right: 0.1rem;
}

.navbar-default{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	border-bottom: solid 1px var(--primary);
	padding-block: 1rem;
}

.invisible-scroll {
	overflow-y: scroll;
}
 
.invisible-scroll::-webkit-scrollbar {
	display: none;
}

/* MAIN  */

.home-text{
	color: var(--primary);
}

.home-icon{
	color: var(--primary);
	font-size: 1.3rem;
	margin: 0 10px 0 0;;
}

.title{
	color: var(--primary);
	text-align: center;
	font-size: 2rem;
}

	/*HOME*/

.div-icons {
	text-align: center;
	padding: 3rem 0 3rem 0;
}

.carousel-img{
	height: 45rem;
}

/* PRODUCTS */
.products-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	width: 30%;
	height: 40rem;
	margin: 1rem;
	border: 1px solid var(--primary);
	border-radius: 6px;
	text-align: center;
}

.products-name{
	color: var(--secondary);
	margin: 1rem 0;
}

.products-desc{
	color: var(--darkermain);
	min-height: 60px;
}

.products-img{
	height: auto;
	width: 100%;
}

.products-price{
	color: var(--secondary);
	font-size: 1.5rem;
}

/* LOGIN */

.login-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login-form-input{
	color: var(--primary);
	
}

/* FOOTER */

.footer{
	border-top: var(--primary) 1px solid;
	width: 100%;
}

.footer-text{
	color: var(--primary);
}

