.header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.nav-item, .nav-item-logo{
	font-weight: 700;
	text-decoration: none;
	margin-inline: 1rem;
	font-size: 1.5rem;
}

.nav-item-logo{
	font-size: 2rem;
}

.invisible-scroll {
	overflow-y: scroll;
}

.invisible-scroll::-webkit-scrollbar {
	display: none;
}

.product-card {
	width: 30%;
	height: 25rem;
	display: inline-block;
	margin: 1.5rem, 1.5rem, 1.5rem, 1.5rem
}

.products-view {
	text-align: center;
	justify-content: center;
}

.logout {
	margin-left: 0.1rem;
	font-size: 0.8rem;
	line-height: 100%;
	vertical-align: middle;
  }
  
  .username {
	margin-right: 0.1rem;
  }